﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>

  <link href="~/Content/material/css/material-design-iconic-font.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/material/fonts/Material-Design-Iconic-Font.eot" rel="stylesheet" type="text/css" />
  <link href="~/Content/material/fonts/Material-Design-Iconic-Font.woff" rel="stylesheet" type="text/css" />
  <link href="~/Content/material/fonts/Material-Design-Iconic-Font.woff2" rel="stylesheet" type="text/css" />
  <link href="~/Content/material/fonts/Material-Design-Iconic-Font.ttf" rel="stylesheet" type="text/css" />
  <link href="~/Content/material/fonts/Material-Design-Iconic-Font.svg" rel="stylesheet" type="text/css" />

  <link href="~/Content/angular-material.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/ag-grid.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/theme-blue.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/theme-dark.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/theme-fresh.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/theme-bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/theme-material.css" rel="stylesheet" type="text/css" />
  <link href="~/Content/style.css" rel="stylesheet" type="text/css" />


  <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
  @RenderBody()

  <script src="~/Scripts/jquery-1.10.2.min.js"></script>
  <script src="~/Scripts/angular.min.js"></script>
  <script src="~/Scripts/angular-animate.min.js"></script>
  <script src="~/Scripts/angular-aria.min.js"></script>
  <script src="~/Scripts/angular-material.min.js"></script>
  @*<script src="~/Scripts/ng-google-chart.min.js"></script>*@
  <script src="~/Scripts/ag-grid.min.js"></script>

  @RenderSection("Scripts", false)
</body>
</html>