﻿@using FeedAggregator.viewModels;
@using Newtonsoft.Json;

@{
  ViewBag.Title = "";
}

@model OfferFeedViewModel

<body ng-app="feedapp" ng-cloak>
  <md-toolbar class="md-hue-2" md-scroll-shrink ng-if="true" ng-controller="ToolbarTopController as tt_ctrl">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleLeft()" class="">
        <md-icon md-font-icon="zmdi-menu zmdi-hc-2x" class="zmdi" style="color:white;" alt=""></md-icon>
      </md-button>
      <h2 flex md-truncate>[{{::tt_ctrl.name}}]</h2>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-font-icon="zmdi-more-vert zmdi-hc-2x" class="zmdi" alt="more-vert"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <section layout="row" flex ng-controller="ContentController as c_ctrl">
    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">
      <md-toolbar class="">
        <h1 class="md-toolbar-tools">{{::c_ctrl.sidebarTitle}}</h1>
      </md-toolbar>
      <md-content layout-margin>
        <p>
          {{::c_ctrl.sidebarTitle}} content here.
        </p>
        <md-button ng-click="toggleLeft()" class="md-accent">
          Close
        </md-button>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column">
        @*<div flex class="" style="height:100px;">content here</div>*@
      </div>
      <div layout="column">
        <md-content flex ng-controller="FeedController as feed_ctrl">
          <div flex><div ag-grid="gridOptions" class="ag-blue" style="height: 300px"></div></div>
        </md-content>
      </div>
    </md-content>
  </section>

  @section Scripts{
    <script src="@Url.Content("~/Scripts/app-bundle.js")"></script>
    <script>
      function categoriesCellRenderer(params) {
        var result = "<span class='chips'>";
        if(params){
          params.value.forEach(function(current, idx, source){
            result += "<span class='chip'>" + current + "</span>";
          });
        }
        result += "</span>";
        return result;
      }
      var columnDefs = [
          { headerName: '', width: 30, checkboxSelection: true, suppressSorting: true, suppressMenu: true, pinned: true},
          { headerName: "Name", field: "name" },
          { headerName: "Android Package Name", field: "android_package_name" },
          { headerName: "Ios Bundle Id", field: "ios_bundle_id" },
          { headerName: "Description", field: "description" },
          { 
            headerName: "Categories",
            field: "categories",
            cellRenderer: function (params) {      
              return categoriesCellRenderer(params);
            }
          },
          { headerName: "Tracking Url", field: "tracking_url" },
          { headerName: "Icon URL", field: "icon_url" },
      ];
      feedapp.constant("rowData", @Html.Raw(JsonConvert.SerializeObject(Model.RowData)));
      feedapp.constant("columnDefs", columnDefs);
    </script>
  }
</body>